* {
  font-family: 'Roboto Mono', monospace;
}
.booked-clock-100x100 {
	width:200px !important;
	height:200px !important;
	text-align:center !important;
	margin:0px auto !important;
	padding:0px !important;
	}
	.booked-clock-100x100 * {
		margin:0px !important;
		padding:0px !important;
		}
.booked-clock-100x100-city {
	text-decoration:none;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
	}
	.booked-clock-100x100-city.small {
		line-height:1.15rem !important;
		font-size:1.2rem !important;
		}
.booked-clock-100x100-time {
	text-decoration:none;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
	}
	.booked-clock-100x100-time sup {
		font-size:0.95rem;
		}
.booked-clock-100x100-date {
	line-height:1.3rem !important;
  font-size: 1rem;
	}
	.booked-clock-100x100-date span {
		display:block;
		}
.booked-wrap-widget-time {
	position: relative;
}

.widget-time-content-text {
	text-indent: -99999px;
	overflow: hidden;
	position: absolute;
}
